*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
}
.container{
    width: 70%;
    margin: 0 auto;
    
}
.left-header{
    display: flex;
    align-items: center;

}


header{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
   top: 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

 ul{
    list-style-type: none;
   
}

 nav ul{
    display: flex;
    
}
  ul  li a{
    text-decoration: none;
    margin: 10px 0px; 
    color: white;
    margin-top: 6px;
    display: inline-block;
    margin-left: 16px;
}
nav ul li  :hover{
    color:#29B2FE ;
}
.image img{
    width: 100%;
}
.right-header{
 
display: flex;
align-items: center;
}

  .btn{
 text-decoration: none;
 margin-left: 30px;
 background-color: #C40D6C;
 color: white;
 display: inline-block;
 border: 2px solid #C40D6C;
 padding: 10px;
 border-radius: 6px;
 font-weight: bold;

}
#hero{
    background-image: url(../image/free.webp);
    height: 100vh;
} 
.img-data p{
    color: aliceblue;
  margin-bottom: 20px;
}

.img-data h1{
    position: relative;
    top: 163px;
    color: white;
    font-size: 45px;
}
.img-data p{
    position: relative;
    top: 194px;
    color: white;
    font-size: 19px;
}

.button{
    position: relative;
    top: 230px;
    color: white;
    font-size: 19px;
    background-color: #C40D6C;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 18px 25px;
    font-weight: bold;
}
#posibilities{
    margin-top: 70px;
    margin-bottom: 70px;
}
h2::first-letter{
    color: red;
    font-size: 46px;
}

.posibilitie h2{
   
    font-size: 40px;
 }
.posibilitie h3{
    margin-top: 33px;
    font-size: 25px;
    font-weight: 100;
   
}
.works-images{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
   
}
.images1{
    width: 32%;
}
.images2{
    width: 32%;
}
.images3{
    width: 32%;
}
.h3{
    margin-top: 40px;
    font-size: 18px;
}
.main-title h2{
    font-size: 40px;
}
.main-title h3{
    margin-top: 33px;
    font-weight: 100;
    font-size: 25px;
}
.images1 h3{
    margin-top: 26px;
}
.images1 p{
    margin-top: 10px;
    font-size: 18px;
}
.images2 h3{
    margin-top: 26px;
}
.images2 p{
    margin-top: 10px;
    font-size: 18px;
}
.images3 h3{
    margin-top: 26px;
}
.images3 p{
    margin-top: 10px;
    font-size: 18px;
}
.images img{
   margin-top: 25px;
   width: 104%;
 
}
.how-work{
    display: flex;
    justify-content: space-between;
    
    
}


.work{
    margin-top: 59px;
   width: 50%;
   margin-left: 60px;
   
}

.work h1{
  
    font-size: 45px;
}
.work h3{
    margin-top: 37px;
    
}
.work p{
    margin-top: 16px;
    
    line-height: 27px;
    width: 80%;
}
.work a{
    
    margin-top: 46px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #C40D6C;
    border: 2px solid#C40D6C;
    padding: 12px 26px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 20px;
}
.Title{
    width: 50%;
}
.Title h3{
    font-size: 45px;
    margin-top: 73px;

}
.Title p{
    margin-top: 20px;
    font-size: 20px;
}
.contact-img{
    width: 50%;
}
.contact-img1{
    width: 40%;
}
.contact-img img{
    margin-top:55px;
}
.contact-img h3{
    font-size: 19px;
    margin-top: 30px;
}

.contact-img h3{
    width: 169%;
    margin-top: 20px;
}
.contact-img1 img{
    margin-top: 53px;
}
.contact-img1 h3{
    font-size: 19px;
    margin-top: 20px;
}

.con-data{
  display: flex;
}

.main-box{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}
.con-img{
    width: 50%
}


.Mobile-Img{
    width: 40%;
}

.main-title{
    font-size: 45px;
}
.safe-details p{
    margin-top: 30px;
}
.control{
    margin-top: 80px;
}
.con-img p{
    margin-top: 30px;
    font-size: 21px;
    color: #12151B;
}
.main{
    margin: 100px 0;
}
.secure{
    display: flex;
    justify-content: space-between;
}
.safe-img{
    width: 40%;
}
.safe-details{
    width: 50%;
}
.safe-img img{
    width: 100%;
    height: 100%;
}
.safe-details p{
    font-size: 21px;
    line-height: 25px;
}
.main-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.pay{
    width: 53%;
}
.support{
    width: 40%;
}
.main-parent img{
    width: 80px;
  
}
.main-parent p{
    line-height: 30px;
}
.main-parent h3{
    margin-top: 20px;
}
.main-parent p{
    margin-top: 12px;
    color: #4C4E54;
    font-size: 20px;
}
#post{
    padding: 1px 0;
    background-color: black;
}
.h4{
    margin-top: 50px;
}
.click{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 40px;
    display: inline-block;
    margin-left: 69px;
    background-color: #C40D6C;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 34px;
}
  
.main-title{
    font-size: 40px;
    margin: 70px 0;
}
.title-data{
   
    font-size: 23px;
    
}

.white {
    color: white;
    
}
.red{
    color: white;
    font-size: 24px;
    margin-top: -37px;
    margin-left: 71px;
}
.logo-images{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 36px;
    
}
.logo{
    width: 32%;
   
}

.logo img{
    width: 100%;

}
#results{
    margin-bottom: 80px;

}


.main-top{
    font-size: 25px;
    margin-top: 20px;
}
.logo p{
    font-size: 24px;
    font-weight: bold;
    margin-top: 7px;
}
 .center{
   margin: 0 auto;
}
#help{
    background-color: #232A35;
    
    padding-bottom: 90px;
}

.blue{
   margin-top: 40px;
   font-size: 45px;
   color: white;
   display: inline-block;
}
.main-help{
    color: white;
    font-size: 25px;
    margin-top: -37px;
    
}
.purple{
    font-size: 25px;
    margin-top: 30px;
    display: inline-block;
    color: white;
    
   
    
}
.additional{
    display: flex;
}
.aditional a{
   display: block;
   
  
}
.add1 a{
    color: white;
    font-size: 25px;
    margin-top: 40px;
    display: inline-block;
    
}
.add2 a{
    color: white;
    font-size: 25px;
    margin-top: 40px;
    display: inline-block;
}
.add1 a:hover{
    color: #29B2FE;
}
.add2 a:hover{
    color: #29B2FE;
}
#professional{
    background-color: black;
}
.main-div{
   padding: 35px 0;
   display: flex;
   column-gap: 30px;
}
.freelancer img{
    width: 150px;
    
}
.freelancer i{
    color: white;
   margin-top: 20px;
   margin-right: 10px;
    
}
.freelancer h5{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: -18px;
}
.freelancer a{
    margin-left: 12px;
    margin-top: 6px;
    display: inline-block;
    color: white;
}

.freelancer h5{
    color: white;
    font-size: 20px;
    margin-left: 12px;
    margin-top: 10px;
}

.users{
    display: flex;
    justify-content: space-between;
}
.user1 h5{
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
.user1 p{
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.review p{
    color: white;
    font-size: 10px;
    margin-top: 18px;

}
.freelancer img{
    margin-top: 10px;
    margin-left: 10px;
}
 ul li a:hover{
    color: #29B2FE;
}
h5:hover{
    color: #29B2FE;
}