*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
}
.container{
    width: 70%;
    margin: 0 auto;
    
}
.left-header{
    display: flex;
    align-items: center;

}


header{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
   top: 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

 ul{
    list-style-type: none;
   
}

 nav ul{
    display: flex;
    
}
  ul  li a{
    text-decoration: none;
    margin: 10px 18px; 
    color: white;
}
nav ul li  :hover{
    color:#29B2FE ;
}
.image img{
    width: 100%;
}
.right-header{
 
display: flex;
align-items: center;
}

  .btn{
 text-decoration: none;
 margin-left: 30px;
 background-color: #C40D6C;
 color: white;
 display: inline-block;
 border: 2px solid #C40D6C;
 padding: 10px;
 border-radius: 6px;
 font-weight: bold;

}
#hero{
    background-image: url(../image/free.webp);
    height: 100vh;
} 
.img-data p{
    color: aliceblue;
  margin-bottom: 20px;
}

.img-data h1{
    position: relative;
    top: 300px;
    color: white;
    font-size: 45px;
}
.img-data p{
    position: relative;
    top: 334px;
    color: white;
    font-size: 19px;
}

.button{
    position: relative;
    top: 359px;
    color: white;
    font-size: 19px;
    background-color: #C40D6C;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 18px 25px;
    font-weight: bold;
}
#posibilities{
    margin-top: 70px;
    margin-bottom: 70px;
}
h2::first-letter{
    color: red;
    font-size: 46px;
}

.posibilitie h2{
   
    font-size: 40px;
 }
.posibilitie h3{
    margin-top: 33px;
    font-size: 25px;
    font-weight: 100;
   
}
.works-images{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
   
}
.images1{
    width: 32%;
}
.images2{
    width: 32%;
}
.images3{
    width: 32%;
}
.h3{
    margin-top: 40px;
    font-size: 18px;
}
.main-title h2{
    font-size: 40px;
}
.main-title h3{
    margin-top: 33px;
    font-weight: 100;
    font-size: 25px;
}
.images1 h3{
    margin-top: 26px;
}
.images1 p{
    margin-top: 10px;
    font-size: 18px;
}
.images2 h3{
    margin-top: 26px;
}
.images2 p{
    margin-top: 10px;
    font-size: 18px;
}
.images3 h3{
    margin-top: 26px;
}
.images3 p{
    margin-top: 10px;
    font-size: 18px;
}
.images img{
   margin-top: 25px;
   width: 104%;
 
}
.how-work{
    display: flex;
    justify-content: space-between;
    
    
}


.work{
    margin-top: 59px;
   width: 50%;
   
}

.work h1{
  
    font-size: 45px;
}
.work h3{
    margin-top: 37px;
    
}
.work p{
    margin-top: 16px;
    
    line-height: 27px;
    width: 80%;
}
.work a{
    
    margin-top: 46px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #C40D6C;
    border: 2px solid#C40D6C;
    padding: 12px 26px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 20px;
}
.Title{
    width: 50%;
}
.Title h3{
    font-size: 45px;
    margin-top: 73px;

}
.Title p{
    margin-top: 20px;
    font-size: 20px;
}
.work1 img{
    margin-top: 45px;
}
