*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #353535;
    font-family: sans-serif;
}

.container{
    width: 85%;
    margin: 100px auto;
}
.card{
    width: 400px;
    height: 550px;
    border: 2px solid black;
    margin: 0 auto;
}
.product{
    width: 100%;
    height: 50%;
    border: 2px solid black;
    background-color:#D04F2A ;
   
}
.data{
    width: 100%;
    height: 50%;
    border: 2px solid black;
    background-color: white;
    padding: 14px 20px;
    position: relative;
}
.product img{
     margin-left: 23px;
}

.product h2{
    color: white;
    margin-top: 14px;
    margin-left: 21px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.product p{
    color: white;
    font-size: 16px;
    padding: 14px 20px;
}
.product span{
    display: inline-block;
    font-size: 125px;
    font-weight: 900;
    margin-left: 60px;
    margin-top: -33px;
    opacity: 0.1;
}
.pro{
    position: relative;
}
.pro img {
    width: 309px;
    height:201px;
    position: absolute;
    right: -112px;
    top: -267px;
}

.data h2{
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.data span{
    float: left;
    margin-left: 22px;
   
    border: 2px solid #11E95B;
    background-color: #11E95B;
    color: white;
    padding: 3px 9px;
}
.data h6 {
    clear: both;
  
    display: inline-block;
}
.icon i{

    margin-top: 7px;
}
.data h4{
    font-size: 16px;
    margin-top: 24px;
}

ul{
    list-style-type: none;
    
}
ul li a{
    text-decoration: none;
    float: left;
    padding: 12px 22px; 
    color: black;

}

ul li a.siz{
    border: 2px solid #F45E3E;
    background-color: #F45E3E;
    border-radius: 50%;
    padding: 7px;
    margin-top: 3px;
}

.data h1{
    font-size: 15px;
    clear: both;
    margin-top: 57px;
  
}

.col1{
    width: 16px;
    height: 16px;
    border: 8px solid red;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin: 15px;
}
.col2{
    width: 16px;
    height: 16px;
    border: 8px solid greenyellow;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin: 15px;
}

.col3{
    width: 16px;
    height: 16px;
    border: 8px solid yellow;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin: 15px;
}
.data a{
    text-decoration: none;
    position: absolute;
    right: 10px;
    border: 2px solid #11E95B;
    background-color: #11E95B;
    color: white;
}